body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: blueviolet;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.ul_icon_fix {
    display: block;
    margin: auto;
    border-radius: 1000px;
    border: 5px solid #f1f1f1;
    background-color: #f1f1f1;
    position:fixed;
}
#contactOne{
    position: relative;
    top: 40px;
    left: 20px;
    width: 300px;
    height: 100px;
    border: solid 2px;
    border-color: blueviolet;
    border-radius: 50px;
    background-color: #f1f1f1;
    text-align: center;
}
#contactTwo{
    position: relative;
    top: 40px;
    left: 20px;
    width: 300px;
    height: 100px;
    border: solid 2px;
    border-color: blueviolet;
    border-radius: 50px;
    background-color: #f1f1f1;
    text-align: center;
}